.scrollup__link {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--title-color);
  opacity: 0.8;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup__link:hover {
  background-color: var(--title-color-dark);
  opacity: 1;
  transform: translateY(-0.25rem);
}

.scrollup__icon {
  color: var(--container-color);
}

.show-scroll {
  bottom: 2.5rem;
}
