.portfolio__container {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 1.8rem;
}

.portfolio__content {
  position: relative;
  background-color: var(--container-color);
  padding: 6rem 0 2rem 2.5rem;
  border: 1px solid var(--border-color);
  border-radius: 1.25rem;
  transition: 0.3s;
}

.portfolio__content:hover {
  box-shadow: 0 0 5px 2px #ffe9d5, 0 0 6px 3px #ebebeb;
}

.portfolio__icon {
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.portfolio__button {
  font-size: var(--small-font-size);
  color: var(--color-orange);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.portfolio__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.portfolio__button:hover .portfolio__button-icon {
  transform: translateX(0.25rem);
}

.portfolio__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolio__modal-content {
  position: relative;
  background-color: var(--container-color);
  width: 750px;
  padding: 2rem 1.5rem 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px 2px #ffe9d5;
}

.portfolio__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.portfolio__modal-title,
.portfolio__modal-description {
  text-align: center;
}

.portfolio__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.portfolio__modal-description {
  font-size: var(--small-font-size);
  padding: 0 3.5rem;
  margin-bottom: var(--mb-2);
}

.portfolio__modal-projects {
  row-gap: 0.75rem;
}

.portfolio__modal-item iframe {
  width: 100%;
  height: 18rem;
  border-radius: 0.5rem;
  margin-bottom: var(--mb-1);
}

.portfolio__modal-project-data {
  display: flex;
  text-align: center;
  gap: 0.5rem;
}

.portfolio__modal-project-header,
.portfolio__modal-project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__modal-project-header {
  width: 40%;
}

.portfolio__modal-project-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.portfolio__modal-project-button {
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--small-font-size);
  cursor: pointer;

  &:hover {
    background-color: var(--title-color-dark);
    scale: 1.02;
  }
}

.portfolio__modal-project-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.portfolio__modal-project-description {
  font-size: var(--small-font-size);
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .portfolio__content {
    padding: 4rem 1.5rem 2rem 1.5rem;
  }

  .portfolio__modal-close {
    top: 1rem;
    right: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  .portfolio__modal {
    padding: 0 1.2rem;
  }
  .portfolio__modal-description {
    padding: 0 1rem;
  }
  .portfolio__modal-content {
    padding: 2rem 1rem 2.5rem;
  }
}

@media screen and (max-width: 350px) {
  .portfolio__modal-project-buttons {
    flex-direction: column;
  }
}
