.home__container {
  row-gap: 7rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  align-items: center;
  column-gap: 2rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  background-color: var(--box-background-color);
  width: max-content;
  padding: 1rem 0.5rem;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  box-shadow: 0 0 3px 2px #fff0e3;
  &:hover {
    scale: 1.01;
    box-shadow: 0 0 2px 2px #fff0e3, 0 0 6px 4px #fef4eb;
  }
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--title-color);

  &:hover {
    color: var(--title-color-dark);
    scale: 1.15;
  }
}

.home__social-icon img {
  padding-left: 0.2rem;
  height: 1.25rem;
}

.home__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.home__hand {
  width: 34px;
  height: 34px;
  margin-left: 0.4rem;
  animation: greet 2s ease-in-out infinite alternate;
  transform-origin: bottom center;
}

@keyframes greet {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(-10deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

.home__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5.4rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home__subtitle::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 0.9rem;
}

.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

.home__img {
  background: url("../../assets/profile_pic-withoutbg.png") no-repeat center;
  background-size: cover;
  order: 1;
  justify-self: center;
  width: 300px;
  height: 300px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 10%;
  box-shadow: inset 0 0 4px 4px rgba(255, 255, 255, 0.445);
}

.home__scroll {
  margin: auto;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.25rem);
  }
}

.home__scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home__hand {
    width: 26px;
    height: 26px;
  }

  .home__subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }

  .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }

  .home__img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }

  .home__img {
    order: initial;
    justify-self: center;
    margin-right: 9rem;
    width: 200px;
    height: 200px;
  }

  .home__data {
    grid-column: 1/3;
    text-align: center;
  }
  .home__subtitle {
    padding-right: 6rem;
  }

  .home__subtitle::before {
    content: none;
  }
}

@media screen and (max-width: 576px) {
  .home__img {
    margin-right: 6rem;
  }

  .home__scroll {
    display: none;
  }
}

@media screen and (max-width: 413px) {
  .home__img {
    margin-right: 4rem;
    width: 180px;
    height: 180px;
  }

  .home__hand {
    width: 22px;
    height: 22px;
  }
}
