.contact__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: space-evenly;
  column-gap: 4rem;
  padding-bottom: 3rem;
}

.contact__info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}

.contact__card {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
}

.contact__card:hover {
  box-shadow: 0 1px 3px 1px var(--border-color);
  border-color: transparent;
}

.contact__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-subtitle {
  font-size: var(--small-font-size);
}

.contact__card-title {
  font-weight: var(--font-medium);
}

.contact__card-subtitle {
  display: block;
  margin-bottom: var(--mb-0-5);
}

.contact__button {
  font-size: var(--small-font-size);
  color: var(--color-orange);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.contact__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.contact__button:hover .contact__button-icon {
  transform: translateX(0.25rem);
}

.contact__form {
  width: 360px;
}

.contact__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.23);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
}

.contact__form-input:focus {
  border-color: var(--title-color);
}

.contact__form-area {
  height: 11rem;

  & textarea {
    resize: none;
  }
}

.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  background-color: var(--container-color);
  padding: 0.25rem;
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  z-index: 10;
}

@media screen and (max-width: 992px) {
  .contact__container {
    column-gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .contact__info {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
  }

  .contact__form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .contact__info {
    display: grid;
    row-gap: 1rem;
  }

  .contact__form {
    width: 100%;
  }
}
