.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--header-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

.active-link,
.nav__link:hover {
  color: var(--title-color-dark);
  scale: 1.1;
  border-bottom: 2px solid var(--color-orange);
  border-radius: 2.5px;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .header {
    top: 0;
  }

  .nav {
    height: var(--header-height);
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: auto;
    height: 100vh;
    padding: 2rem 1.5rem;
    transition: 0.2s ease-in-out;
  }

  .show__menu {
    right: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .active-link,
  .nav__link:hover {
    border: none;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    /* bottom: 0.5rem; */
    top: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);

    &:hover {
      color: var(--color-danger);
    }
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;

    margin-right: -0.5rem;
    background-color: var(--box-background-color);
    padding: 0.2rem 0.5rem;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 0 0 3px 2px #fff0e3;

    &:hover {
      scale: 1.02;
      color: var(--title-color-dark);
      box-shadow: 0 0 2px 2px #fff0e3, 0 0 6px 3px #fef4eb;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      scale: 1.02;
      color: var(--title-color-dark);
      transition: 0.3s ease-in-out;
    }
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem;
  }

  .nav__list {
    column-gap: 0;
  }
}
