.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: -2rem;
}

.footer__title {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.footer__copy {
  font-size: var(--small-font-size);
  color: var(--text-color);

  & span {
    color: var(--title-color);
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    margin-bottom: -4.3rem;
  }
}
